
    body {
        background-color: #EFF5F5 ;
    }

    hr {
        border-style: none;
        border-top-style: dotted ;
        border-color: grey;
        border-width: 5px;
        width: 20%;
    }

    h1 { 
        color: #66BFBF; 
    }

    h3 {
        color: #66BFBF;
    }

    a:link {
        color:#66BFBF;
    }
    a:visited {
        color:#000000;
    }

    a:hover {
        color: #105a5a;
    }
    a:active {
        color: #66BFBF
    }